   {{!-- <div class="wrap-container-calendar">
         <div class="col-md-4">
            <h3>Add a new event to your calendar:</h3>
            <form id="createEvent">
                <div class="form-group">
                    <label for="event-name">Event Name:</label>
                    <input type="text" class="form-control" id="event-name">
                </div>
                <div class="form-group">
                    <label for="event-date">Date:</label>
                    <input id="event-date" type="datetime" class="form-control"  placeholder=""></input>
                </div>
                
                <div class="form-group">
                    <label for="start-time">Start time:</label>
                    <input id="start-time" type="text" class="timepicker"  placeholder=""></input>
                </div>
                <div class="form-group">
                    <label for="end-time">End time:</label>
                    <input id="end-time" type="datetime" class="timepicker"  placeholder=""></input>
                </div>
                <button id="addEvent" type="text" class="btn btn-primary timepicker">Add</button>

            </form>
    </div>

    <button id="authorize_button yellow darken-2" style="display: none;">Authorize</button>

   <div class="col-md-4">
        <button id="signout_button yellow darken-2" style="display: none;">Sign Out</button>
         <pre id="content"></pre>
    </div>
    </div>

    <script type="text/javascript" src="js/calendar.js"></script>
<script type="text/javascript"></script> --}}
