<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Welcome to hang</h1>
            <h2>Hello <span id="userName"><b></b></span></h2>
            <h4>Here's all the hangs you created:<br></h4>
            <hr>
            <ul>
                {{#each hangs}}
                    <div>
                        <p><b>{{hangName}}</b></p>
                        <p>{{aboutHang}}</p>
                    </div>
                    <hr>
                {{/each}}
            </ul>

            <button id="logOut-btn" class="btn btn-primary">Log out</button>
        </div>
        <div class="col-md-4">
            <h3>Add a new hang:</h3>
            <form id="createHang">
                <div class="form-group">
                    <label for="hang-name">Hang Name:</label>
                    <input type="text" class="form-control" id="hang-name"  placeholder="New hang name">
                </div>
                <div class="form-group">
                    <label for="about-hang">What is this hang for?</label>
                    <textarea id="about-hang" class="form-control"  placeholder=""></textarea>
                </div>
                <button id="addHang" type="submit" class="btn btn-primary">Add</button>

            </form>
        </div>
         <div class="col-md-4">
            <h3>Add a new event to your calendar:</h3>
            <form id="createEvent">
                <div class="form-group">
                    <label for="event-name">Event Name:</label>
                    <input type="text" class="form-control" id="event-name">
                </div>
                <div class="form-group">
                    <label for="event-date">Date:</label>
                    <input id="event-date" type="datetime" class="form-control"  placeholder=""></input>
                </div>
                
                <div class="form-group">
                    <label for="start-time">Start time:</label>
                    <input id="start-time" type="datetime" class="form-control"  placeholder=""></input>
                </div>
                <div class="form-group">
                    <label for="end-time">End time:</label>
                    <input id="end-time" type="datetime" class="form-control"  placeholder=""></input>
                </div>
                <button id="addEvent" type="submit" class="btn btn-primary">Add</button>

            </form>
        </div>
        <div class="col-md-4">
              <button id="authorize_button" style="display: none;">Authorize</button>
    <button id="signout_button" style="display: none;">Sign Out</button>

    <pre id="content"></pre>
    </div>
    </div>

</div>


<script type="text/javascript" src="/js/index.js"> </script>
<script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>

