  <nav>
    <div class="nav-wrapper white">
        <a href="#" class="brand-logo center">Hang</a>
        <li id="hello-there">Hello <span id="userName"></span></li>
        <ul id="nav-mobile" class="left hide-on-med-and-down"> </ul>

    </div>
  </nav>


  {{!-- <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
      </div>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> --}}


    {{!-- <button id="logOut-btn" class="btn btn-primary">Log out</button> --}}

{{!-- <div class="container">
    <div class="row">
        <div class="col s6">
            <p id="welcome">Welcome to Hang</p>
            <br>
            <p id="hello">Hello <span id="userName"></span></p>
            <br>
            <h4>Here's all the hangs you created:<br></h4>
            <hr>
            <ul>
                {{#each hangs}}
                    <div>
                        <p><b>{{hangName}}</b></p>
                        <p>{{aboutHang}}</p>
                    </div>
                    <hr>
                {{/each}}
            </ul>

            <button id="logOut-btn" class="btn btn-primary">Log out</button>
        </div> --}}

            <button id="logOut-btn" class="btn btn-primary">Log out</button>

     <div class="row">
    <div class="col s12 m6">
      <div class="card card-container white">
        <div class="card-content">
          <span class="card-title">Here are the hangs you've created:</span>
               <ul>
                {{#each hangs}}
                    <div>
                        <p><b>{{hangName}}</b></p>
                        <p>{{aboutHang}}</p>
                    </div>
                    <hr>
                {{/each}}
            </ul>
        </div>
      </div>
    </div>
  </div>



    <div class="wrap-container">
        <div class="col s6">
            <h3>Add a new hang:</h3>
            <form id="createHang">
                <div class="form-group">
                    <label for="hang-name">Hang Name:</label>
                    <input type="text" class="form-control" id="hang-name"  placeholder="New hang name">
                </div>
                <div class="form-group">
                    <label for="about-hang">What is this hang for?</label>
                    <textarea id="about-hang" class="form-control"  placeholder=""></textarea>
                </div>
                <button id="addHang" type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>

    </div>
</div>


<script type="text/javascript" src="/js/index.js" ></script> 



