  <nav>
    <div class="nav-wrapper white">
      {{!-- <ul id="nav-mobile" class="left hide-on-med-and-down"> --}}
        <p id="hello">Hello, <span id="userName"><b></b></span></p>
  
      </ul>
    </div>
  </nav>
 
 <br>
<div class="card-hang">
  <div class="row valign-wrapper align-right">
    <div class="col s12 m6">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title">Your upcoming hangs:</span>
           <ul>
                {{#each hangs}}
                    <div>
                        <p><b>{{hangName}}</b></p>
                        <p>{{aboutHang}}</p>
                    </div>
                    <hr>
                {{/each}}
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>




        <div class="col-md-4 enter-hang">
            <h3>Add a new hang:</h3>
            <form id="createHang">
                <div class="form-group">
                    <label for="hang-name">Hang Name:</label>
                    <input type="text" class="form-control" id="hang-name"  placeholder="New hang name">
                </div>
                <div class="form-group">
                    <label for="about-hang">What is this hang for?</label>
                    <textarea id="about-hang" class="form-control"  placeholder=""></textarea>
                </div>
                   <div class="form-group">
                    <label for="event-recipient">Recipient email:</label>
                    <input type="text" class="form-control" id="event-recipient">
                </div>
                 <div class="form-group">
                    <label for="hang-time">Hang time:</label>
                    <input type="time" id="hang-time" class="form-control"  placeholder=""></textarea>
                </div>
                 <div class="form-group">
                    <label for="hang-date">Hang date:</label>
                    <input type="date" id="hang-date" class="form-control"  placeholder=""></textarea>
                </div>
                <button id="addHang" type="submit" class="btn btn-primary yellow darken-2">Add</button>

            </form>





        </div>
        <div class="col-md-4">
    <button id="signout_button" style="display: none;">Sign Out</button>
    <pre id="content"></pre>
    </div>
    </div>

</div>


<script type="text/javascript" src="/js/index.js"> </script>
<script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script> 
 
 
 
 
 





