<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>hang-landing</title>
  <link rel="stylesheet" href="%CSS REL HERE%">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>

<body>
  <div class="bodywrapper">

    <section class="headerwrapper">
      <div>Welcome to</div>
      <div class="hang">hang</div>
    </section>
    <section class="buttonwrapper">
      <div class="signup">
        <h1>Not a member?</h1>
        <h2><a href="/signup">sign up</a></h2>
      </div>
      <div class="login">
        <h1>Already a member?</h1>
        <h2><a href="/login">log in</a></h2>
      </div>
    </section>


  </div>
</body>

</html>