<link href="/assets/styles/fullCalendar/fullcalendar.min.css" rel="stylesheet">
<link href="/assets/styles/fullCalendar/fullcalendar.print.min.css" rel="stylesheet" media="print">
<div id="header">
    <button id="logOut-btn" class="header-item btn btn-cstm">Log out</button>
    <p class="header-item"><span id="userName"></span></p>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <button id="canDo" type="submit" class="btn btn-cstm">Can Hang</button>
            <div id="hang-card">
                <h3>Your upcoming hangs:<br></h3>
                <hr>
                <ul>
                    {{#each hangs}}
                        <div>
                            <p><b>{{hangName}}</b></p>
                            <p>{{aboutHang}}</p>
                        </div>
                        <hr>
                    {{/each}}
                </ul>

                
            </div>
            <div id="caldiv">
                <div id="calBtn-div">
                    <button type="button" class="cal-btn btn btn-cstm" data-toggle="modal" data-target="#addEvent-modal">
                        New calendar item
                    </button>
                    <div class="cal-btn google-sync">
                        <button class="btn btn-cstm" id="authorize_button" style="display: none;">Sync with Google</button>
                        <button class="btn btn-cstm" id="signout_button" style="display: none;">Sign Out</button>
                        <pre id="content"></pre>
                    </div>
                </div>
                <div id="mycalendar">h

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Add a new hang:</h4>
            <form id="createHang">
                <div class="form-group">
                    <label for="hang-name">Hang Name:</label>
                    <input type="text" class="form-control" id="hang-name"  placeholder="New hang name">
                </div>
                <div class="form-group">
                    <label for="about-hang">What is this hang for?</label>
                    <textarea id="about-hang" class="form-control"  placeholder=""></textarea>
                </div>
                <div class="form-group">
                    <label for="event-recipient">Recipient email:</label>
                    <input type="text" class="form-control" id="event-recipient">
                </div>
                 <div class="form-group">
                    <label for="hang-time">What time?</label>
                    <input type="time" id="hang-time" class="form-control"  placeholder="">
                </div>
                 <div class="form-group">
                    <label for="hang-date">What date?</label>
                    <input type="date" id="hang-date" class="form-control"  placeholder="">
                </div>
                <button id="addHang" type="submit" class="btn btn-cstm">Add</button>

            </form>
        </div>
        
    </div>

</div>

<div class="modal fade" id="addEvent-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add something to your calendar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form id="createEvent">
                <div class="form-group">
                    <label for="event-name">Event Name:</label>
                    <input type="text" class="form-control" id="event-name">
                </div>
             
                <div class="form-group">
                    <label for="event-date">Date:</label>
                    <input id="event-date" type="datetime" class="form-control"  placeholder="">
                </div>
                
                <div class="form-group">
                    <label for="start-time">Start time:</label>
                    <input id="start-time" type="datetime" class="form-control"  placeholder="">
                </div>
                <div class="form-group">
                    <label for="end-time">End time:</label>
                    <input id="end-time" type="datetime" class="form-control"  placeholder="">
                </div>
                <button id="addEvent" class="btn btn-cstm" data-dismiss="modal">Add</button>

            </form>
      </div>
      
    </div>
  </div>
</div>


<script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
<script src="/js/fullCalendar/moment.min.js"></script> 
<script src="/js/fullCalendar/jquery.min.js"></script> 
<script src="/js/fullCalendar/fullcalendar.min.js"></script> 
<script src="/js/calendar.js"></script> 
<script type="text/javascript" src="/js/index.js"> </script>
<script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>

