*{
    font-family: 'Rubik', sans-serif;
}

.home-container, .home-row{
    padding: 0;
    margin:0;
    margin-right:0;
    padding-right: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    
}

.hero-image{
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.login-col{
    padding: 100px 50px;
}

#hero-img {
    height: 100vh;
    width:100%;
    object-fit: cover;
}


#header{
    height: 60px;
    background: #1653B7;
    margin-bottom: 50px;
    padding: 5px 60px;
}
.header-item{
    float: right;
    padding: 5px;
    margin: 10px;
    color: white;
}
.btn-cstm{
    font-size: 14px;
    border-color: #E03E3E;
    background: white;
    margin: 7px;
    padding: 6px 12px;
    color: black;
    transition: all 0.2s ease-in-out;
}

.btn-cstm:hover{
    background: #E03E3E;
    color: white;
}

#userName{
    font-weight: 700;
}

#logOut-btn{
    font-size: 10px;
    border-radius: 20px;
    font-weight: 500;
    margin-top: 12px;
    background: none;
    color: white;
    border-color: white;
}

.cal-btn{
    float: left;
}
#hang-card{
    margin-bottom: 70px;
}
#calBtn-div{
    width: 100%;
    display: inline-block;
}
h3{
    font-weight: 900;
    color: #E03E3E;
}
h4{
    font-size: 22px;
    font-weight: 600;
}

#createHang{
    font-size: 12px;
}

.hang-body{
    width: 70%;
    float: left;
}

.hang-info{
    width:30%;
    float: left;
}
.eachHang{
    display: block;
}